{% extends "layout-fluid.html" %}

{% block page_title %}
  Fluid – Templates | DVLA internal frontend toolkit
{% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/templates">Templates</a></li>
        <li>Fluid template</li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <h1>Fluid template</h1>
        <ol class="list-numbered">
            <li><a href="#usage">Usage</a></li>
            <li><a href="#source">Source</a>
                <ul class="list-bulleted">
                    <li><a href="#source-eruby">eRuby</a></li>
                    <li><a href="#source-nunjucks">Nunjucks</a></li>
                </ul>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <h2>Usage <a href="#usage" id="usage"></a></h2>
        <p>The fluid template should be used in dashboard pages and similar designs that benefit from full-screen utilisation. The fluid template is the most versatile of the templates, including optional top and left navigation tabs.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="example-demo">
            <img src="/public/images/examples/fluid.png" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Source <a href="#source" id="source"></a></h2>
        <h3>eRuby <a href="#source-eruby" id="source-eruby"></a></h3>
        <pre class="line-numbers language-markup"><code><xmp>{% include 'layouts/erb/layout-fluid.html.erb' %}</xmp></code></pre>
        <h3>Nunjucks <a href="#source-nunjucks" id="source-nunjucks"></a></h3>
        <pre class="line-numbers language-markup"><code><xmp>{% include '../includes/nunjucks/layout-fluid.html' %}</xmp></code></pre>
    </div>
</div>
{% endblock %}

{% import "includes/macros/top-nav.html" as top_nav %}
{% block tabs_top %}
{{ top_nav.set('Templates') }}
{% endblock %}

{% import "includes/macros/left-nav.html" as left_nav %}
{% block tabs_left %}
{{ left_nav.set('Templates', 'Fluid') }}
{% endblock %}

{% block header_application_title %}
<a href="/">frontend toolkit</a>
{% endblock %}