{% extends "layout-fluid-tabs.html" %}

{% block page_title %} Components | DVLA internal frontend toolkit {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Components</h1>
        <p class="text-large">Reusable components for internal DVLA services.</p>
    </div>
</div>
{% endblock %}

{% block tabs_top %}
<ul>
    <li><a href="/">About</a></li>
    <li><a href="/styles">Styles</a></li>
    <li class="active"><a href="/components">Components</a></li>
    <li><a href="/patterns">Patterns</a></li>
    <li><a href="/prototype">Prototype</a></li>
</ul>
{% endblock %}

{% block tabs_left %}
<ul>
    <li><a href="/components/buttons">Buttons</a></li>
    <li><a href="/components/forms">Forms</a></li>
    <li><a href="/components/errors-and-validation">Errors and validation</a></li>
    <li><a href="/components/navigation">Navigation</a></li>
    <li><a href="/components/components">Components</a></li>
    <li><a href="/components/data">Data</a></li>
</ul>
{% endblock %}

{% set show_header_application_title = true %}
{% block header_application_title %}
<a href="/components">Components</a>
{% endblock %}