<table class="tachonet-queue">
    <thead>
        <th class="transaction-type">Transaction type</th>
        <th class="tacho-number">Tacho number</th>
        <th class="date">Date received</th>
        <th class="status">Days old<br />(calendar)</th>
    </thead>
    <tbody>
        <tr class="urgent">
            <td class="transaction-type">MCS</td>
            <td class="tacho-number"><a href="#">DB17160903129000</a></td>
            <td class="date">02 08 2017</td>
            <td class="status">
                <span class="bubble">6</span>
            </td>
        </tr>
        <tr class="waiting">
            <td class="transaction-type">ICDL</td>
            <td class="tacho-number"><a href="#">DB17160903123420</a></td>
            <td class="date">02 08 2017</td>
            <td class="status">
                <span class="bubble">4</span>
            </td>
        </tr>
        <tr class="parked">
            <td class="transaction-type">MCS</td>
            <td class="tacho-number"><a href="#">DB17160934529000</a></td>
            <td class="date">02 08 2017</td>
            <td class="status">
                <span class="bubble">2</span>
            </td>
        </tr>
        <tr class="completed">
            <td class="transaction-type">ICDL</td>
            <td class="tacho-number"><a href="#">DB17160903129452</a></td>
            <td class="date">02 08 2017</td>
            <td class="status">
                <span class="bubble"></span>
            </td>
        </tr>
        <tr class="urgent disabled">
            <td class="transaction-type">MCS</td>
            <td class="tacho-number">DB17160903129000</td>
            <td class="date">02 08 2017</td>
            <td class="status">
                <span class="bubble">6</span>
            </td>
        </tr>
        <tr class="waiting disabled">
            <td class="transaction-type">ICDL</td>
            <td class="tacho-number">DB17160903123420</td>
            <td class="date">02 08 2017</td>
            <td class="status">
                <span class="bubble">4</span>
            </td>
        </tr>
        <tr class="parked disabled">
            <td class="transaction-type">MCS</td>
            <td class="tacho-number">DB17160934529000</td>
            <td class="date">02 08 2017</td>
            <td class="status">
                <span class="bubble">2</span>
            </td>
        </tr>
    </tbody>
</table>