<div class="row">
    <div class="col-4">
        <div class="data-highlight dark">
            <div class="header">
                Total amount owed
            </div>
            <div class="content">
                &pound;9000
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="data-highlight dark">
            <div class="header">
                Amount paid
            </div>
            <div class="content">
                &pound;3452
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="data-highlight dark">
            <div class="header">
                Remaining balance
            </div>
            <div class="content">
                &pound;5548
            </div>
        </div>
    </div>
</div>