<div class="row">
    <div class="col-2">
        <div class="data-highlight light green">
            <span class="title">
                Green:
            </span>
            <span class="content">
                27
            </span>
        </div>
    </div>
    <div class="col-2">
        <div class="data-highlight light orange">
            <span class="title">
                Orange:
            </span>
            <span class="content">
                140
            </span>
        </div>
    </div>
    <div class="col-2">
        <div class="data-highlight light blue">
            <span class="title">
                Blue:
            </span>
            <span class="content">
                4
            </span>
        </div>
    </div>
    <div class="col-2">
        <div class="data-highlight light red">
            <span class="title">
                Red:
            </span>
            <span class="content">
                3
            </span>
        </div>
    </div>
    <div class="col-2">
        <div class="data-highlight light grey">
            <span class="title">
                Grey:
            </span>
            <span class="content">
                123
            </span>
        </div>
    </div>
</div>







