{% extends "layout-fluid.html" %}

{% block page_title %}
Getting started – Prototype | DVLA internal frontend toolkit
{% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}
{% block content %}
<div class="breadcrumbs">
    <ol>
        <li>
            <a href="/prototype">Prototype</a>
        </li>
        <li>Getting started</li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <h1>Getting started</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ol class="list-numbered">
            <li>
                <a href="#prerequsites">Prerequisites</a>
            </li>
            <li>
                <a href="#installation">Installation</a>
            </li>
            <li>
                <a href="#running">Running</a>
            </li>
            <li>
                <a href="#structure">Prototype structure</a>
            </li>
            <li>
                <a href="#first-screen">First screen</a>
            </li>
            <li>
                <a href="#table-component">Table component</a>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div id="prerequsites" class="col-12">
        <h2>Prerequisites <a href="#prerequsites" id="prerequsites"></a></h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>In order to use the prototype kit, you must have installed the following on your development machine</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul>
            <li>Node &amp; NPM</li>
            <li>Text editor of your choice</li>
        </ul>
    </div>
</div>
<div class="row">
    <div id="installation" class="col-12">
        <h2>Installation <a href="#installation" id="installation"></a></h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Once you have Node &amp; NPM installed on your machine you're ready to
            <a href="https://github.com/liam-betsworth/dvla_internal_prototype_kit">download the prototype kit</a>. This can be done by either downloading the project as a zip, or by forking the
            project. After the download has finished, move the project to a suitable place on your computer, then open a
            terminal and navigate to it and run the following command:</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-bash"><code><xmp>npm install</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>This will install all of the depenancies that the prototype kit requires to run, includuing the DVLA internal frontend
            kit.</p>
    </div>
</div>
<div class="row">
    <div id="running" class="col-12">
        <h2>Running <a href="#running" id="running"></a></h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Now that you have the prototype kit installed and setup, you can verify everything works by starting your prototype.
            To do so, open your terminal and run the following command:</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-bash"><code><xmp>npm start</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>So long as everything happened correctly, you should now be running your prototype app. To view it, vist localhost:3000
            in your browser.</p>
    </div>
</div>
<div class="row">
    <div id="structure" class="col-12">
        <h2>Prototype Structure <a href="#structure" id="structure"></a></h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>The prototype's structure is laid out as below</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-bash">
<code><xmp>app/
 - assets/
  -- images/
  --- javascripts/
   ---- application.js
  --- stylesheets/
   --- application.scss
 - views/
  -- index.html
node_modules/
public/
app.js
gulpfile.js
package-lock.json
package.json
README.md</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>The views for your prototype are kept under app/views. Creating a new file here would create a new page within your
            app.</p>
        <p>The styles for your prototype are kept under app/assets/stylesheets. The application.scss sheet imports the DVLA
            internal elements and is including within all layouts in the prototype kit. Any css written in the application
            file will have full access to all of the internal-frontend-kit elements and variables. To see exactly what is
            in the frontend-tool-kit, you can read the documentation
            <a href="/">here</a> .</p>
    </div>
</div>
<div class="row">
    <div id="first-screen" class="col-12">
        <h2>Creating your first screen <a href="#first-screen" id="first-screen"></a></h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>To add a new screen - create a new file under the app/view folder with the name "users.html" and paste the following
            code within it.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="line-numbers  language-markup"><code><xmp>{% include "./includes/helloworld.html" %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Save the file and view your new screen by typing localhost:3000/users in your web browser.</p>
    </div>
</div>
<div class="row">
    <div id="table-component" class="col-12">
        <h2>Table component <a href="#table-component" id="table-component"></a></h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>For an example, we'll create a table to display some user data. For this we'll be using the
            <a href="/examples/components#table">Table Component</a>.</p>
        <p>Change your users.html file to look like the following</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-markup"><code><xmp>{% include "./includes/usertable.html" %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12 btn-pushdown" style="text-align: right;">
        <a href="/prototype/layouts" class="btn btn-primary">Layouts</a>
    </div>
</div>
{% endblock %}

{% import "includes/macros/top-nav.html" as top_nav %}
{% block tabs_top %}
{{ top_nav.set('Prototype') }}
{% endblock %}

{% import "includes/macros/left-nav.html" as left_nav %}
{% block tabs_left %}
{{ left_nav.set('Prototype', 'Getting started') }}
{% endblock %}

{% block header_application_title %}
<a href="/">frontend toolkit</a>
{% endblock %}