{% extends "layout-fluid.html" %}

{% block page_title %}
Grids – Prototype | DVLA internal frontend toolkit
{% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}
{% block content %}

<div class="breadcrumbs">
    <ol>
        <li>
            <a href="/prototype">Prototype</a>
        </li>
        <li>Grids</li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <h2>Grids</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>What is the grid?</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>The grid is used to dictate the position of elements on the web page. You can think of the grid as a row of blocks
            that make up the web page. Each row within the grid adds up to 12. Below is an example of the grid in action.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="example-demo">
            {% include 'styles/layout/includes/fixed-container.html' %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>The code that is used to generate the above example is as follows</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre class="line-numbers language-markup"><code><xmp>{% include "styles/layout/includes/fixed-container.html" %}</xmp></code></pre>
    </div>
</div>

{% endblock %}

{% import "includes/macros/top-nav.html" as top_nav %}
{% block tabs_top %}
{{ top_nav.set('Prototype') }}
{% endblock %}

{% import "includes/macros/left-nav.html" as left_nav %}
{% block tabs_left %}
{{ left_nav.set('Prototype', 'Grids') }}
{% endblock %}

{% block header_application_title %}
<a href="/">frontend toolkit</a>
{% endblock %}