{% extends "layout-fluid.html" %} {% block page_title %} Prototype kit {% endblock %} {% block
tabs_left %}
<ul>
    <li>
        <a href="/prototype/">1. Getting started</a>
    </li>
    <li class="active">
        <a href="/prototype/layouts-ruby">2. Layouts</a>
    </li>
    <li>
        <a href="/prototype/grids-ruby/">3. Grids</a>
    </li>
</ul>
{% endblock %} {% block head %}
    {% include "includes/head.html" %}
{% endblock %}
{% block content %}

<div class="breadcrumbs">
    <ol>
        <li>
            <a href="/prototype">Prototype</a>
        </li>
        <li>Layouts with Ruby on Rails</li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <h2>Prototype kit</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ol class="list-numbered">
            <li>
                <a href="#layout-fixed">Fixed</a>
            </li>
            <li>
                <a href="#layout-fluid">Fluid</a>
                <ul>
                    <li>
                        <a href="#layout-fluid-topbar">Fluid with top bar</a>
                    </li>
                    <li>
                        <a href="#layout-fluid-sidebar">Fluid with side bar</a>
                    </li>
                    <li>
                        <a href="#layout-fluid-topbar-sidebar">Fluid with top bar and side bar</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#layout-dialog">Dialog</a>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>Layouts</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>When creating a screen using the prototype kit, we only have control over what content is shown within a view. For
            the most part this is ok, however certain screens will require us to use a different layout. Up until now, we
            have been using the fixed layout, however there are many different layouts that exist in the system as shown
            below.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Fixed</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-ruby"><code><xmp>{% raw %}<%= render file: 'layouts/layout-fixed.html.erb' %>{% endraw %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div id="fluid" class="col-12">
        <h4>Fluid</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-ruby"><code><xmp>{% raw %}<%= render file: 'layouts/layout-fluid.html.erb' %>{% endraw %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div id="fluid-tabs-left" class="col-12">
        <h4>Fluid - tabs left</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-ruby"><code><xmp>{% raw %}<%= render file: 'layouts/layout-fluid-tabs-left.html.erb' %>{% endraw %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5>Customising tabs</h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-ruby"><code><xmp>{% include './includes/extending-tabs-left-ruby.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div id="fluid-tabs-top" class="col-12">
        <h4>Fluid - tabs top</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-ruby"><code><xmp>{% raw %}<%= render file: 'layouts/layout-fluid-tabs-top.html.erb' %>{% endraw %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5>Customising tabs</h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-ruby"><code><xmp>{% include './includes/extending-tabs-top-ruby.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div id="fluid-tabs-both" class="col-12">
        <h4>Fluid - both tabs</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-ruby"><code><xmp>{% raw %}<%= render file: 'layouts/layout-fluid-tabs.html.erb' %>{% endraw %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5>Customising tabs</h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-ruby"><code><xmp>{% include './includes/extending-tabs-top-ruby.html' %}{% include './includes/extending-tabs-left-ruby.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div id="dialog" class="col-12">
        <h4>Dialog</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="text" class="language-ruby"><code><xmp>{% raw %}<%= render file: 'layouts/layout-dialog.html.erb' %>{% endraw %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12 btn-pushdown" style="text-align: right;">
        <a href="/prototype/grids" class="btn btn-primary">Grids</a>
    </div>
</div>

{% endblock %}

{% block tabs_top %}
<ul>
    <li><a href="/">About</a></li>
    <li><a href="/styles">Styles</a></li>
    <li><a href="/components">Components</a></li>
    <li><a href="/patterns">Patterns</a></li>
    <li class="active"><a href="/prototype">Prototype</a></li>
</ul>
{% endblock %}

{% block header_application_title %}
<a href="/">frontend toolkit</a>
{% endblock %}