@mixin button() {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-style: solid;
    text-decoration: none;
    line-height: normal;

    &:active, &:focus {
        outline: 3px solid $focus-colour;
    }

    &:disabled {
        opacity: 0.5;

        &:hover {
            cursor: not-allowed;
        }
    }
}

.btn {
    @include button();
    font-size: 15px;
    padding: 8px 14px;

    &.btn-link {
        padding: 8px 0;
    }

    & + & {
        margin-left: 8px;
    }
}

.btn-sml {
    @include button();
    font-size: 14px;
    padding: 6.5px 12px;

    &.btn-link {
        padding: 6.5px 0;
    }

    & + & {
        margin-left: 6.5px;
    }
}

.btn-lrg {
    @include button();
    font-size: 16px;
    padding: 10px 16px;

    &.btn-link {
        padding: 10px 0;
    }

    & + & {
        margin-left: 10px;
    }
}

.btn-primary {
    color: white;
    background: $primary;
    border-bottom: 2px solid $primary-darkest;
    cursor: pointer;

    &:hover, &:focus {
        background: $primary-dark;
        color: white;

        &:disabled {
            background: $primary;
        }
    }

    &:visited {
        color: white;
    }

}

.btn-secondary {
    color: $primary;
    background: white;
    border: 1px solid $grey-2;
    border-bottom-width: 2px;
    cursor: pointer;

    &:hover, &:focus {
        background: $grey-4;
        color: $primary;

        &:disabled {
            background: $grey-4;
        }
    }

    &:visited {
        color: $primary;
    }
}

.btn-tertiary {
    color: white;
    background: $secondary;
    border-bottom: 2px solid $secondary-darkest;
    cursor: pointer;

    &:hover, &:focus {
        background: $secondary-dark;
        color: white;

        &:disabled {
            background: $secondary;
        }
    }

    &:visited {
        color: white;
    }
}

.btn-link {
    color: $link-colour;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    
    &:visited {
        color: $visited-colour;
    }
    &:hover {
        color: $link-hover-colour;
    }
    &:focus {
        outline: 3px solid $focus-colour;
        background: $focus-colour;
    }
}

.btn-refresh {
    position: relative;
    padding-left: 47.3px;
    padding-top: 10.6px;
    padding-bottom: 11.4px;
    
    &:before {
        font-family: $icon-font;
        content: "\e906";
        font-size: 16px;
        position: absolute;
        left: 16px;
        top: 12px;
        width: 16px;
        height: 16px;
    }
}

.btn-search {
    position: relative;
    padding-left: 26px;

    &:before {
        font-family: $icon-font;
        content: "\e908";
        font-size: 24px;
        position: absolute;
        left: 8px;
        right: 8px;
        top: 8px;
        width: 24px;
        height: 24px;
    }
}

.btn-spacer-right{
    margin-right: 32px;
}

.btn-spacer-left{
    margin-left: 32px;
}
.btn-spacer-top{
    margin-top: 32px;
}

.btn-spacer-bottom{
    margin-bottom: 32px;
}

.btn-back{
    padding-left: 16px;
    color: $text-primary-colour;
    display: inline-block;
    margin-top: 16px;
    position: relative;
    border-bottom: 1px solid $text-primary-colour;
    text-decoration: none;
    
    &::before{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid rgba(0, 0, 0, 0);
        border-right: 6px solid $text-primary-colour;
        border-bottom: 5px solid rgba(0, 0, 0, 0);
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;

    }

    &:hover{
        cursor: pointer;
        color: $text-primary-colour;
    }
    &:visited{
        color: $text-primary-colour;
    }
    
    
}