{% block top_of_page %}{% endblock %}
<html>

<head>
    <title>{% block page_title %} {% endblock %} – DVLA Internal Elements</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/dvla-internal-elements-styles.css" />
    <meta name="viewport" content="width=device-width"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="/public/javascripts/prism.js"></script>
    <script src="/public/javascripts/prism-line-numbers.js"></script>
    {% block head %} {% endblock %}
</head>

<body class="{% block body_classes %}{% endblock %}">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    {% block body_start %}{% endblock %}
    
    <header role="banner" id="global-header" class="{% block header_class %}{% endblock %}">
        <div id="header-wrapper">
            <div id="header-contents">
                <div id="header-float-left">
                    <div id="header-logo">
                        <a href="/" title="Home" id="logo" class="content">
                            <div id="coat-of-arms" alt=""></div>
                            <div class="name">DVLA</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="global-header-bar"></div> -->
    </header>
     
    {% block after_header %}{% endblock %}
    
    <main id="content">
        <div class="container-dialog">
            <div class="dialog">
                <!-- <div class="container"> -->
                    <div class="row">
                        <div class="col-12">
                            <div class="alert success">
                                You can now use your account
                            </div>
                            <p>Your account has been successfully set up.</p>
                            <button type="button" class="btn btn-primary">Go to DVLA API login</button>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </main>
</body>

</html>