{% extends "layout-fluid.html" %}

{% block page_title %}
Templates | DVLA internal frontend toolkit
{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Templates</h1>
        <p class="text-large">Pre-made templates and layouts for different applications.</p>
    </div>
</div>

{% endblock %}

{% import "includes/macros/top-nav.html" as top_nav %}
{% block tabs_top %}
{{ top_nav.set('Templates') }}
{% endblock %}

{% import "includes/macros/left-nav.html" as left_nav %}
{% block tabs_left %}
{{ left_nav.set('Templates') }}
{% endblock %}

{% block header_application_title %}
<a href="/">frontend toolkit</a>
{% endblock %}