{% raw%}{% extends 'layout-fixed.html' %} {% block head %}
<link rel="stylesheet" href="/public/stylesheets/application.css" />
<script type="text/javascript" src="/public/javascripts/application.js"></script>
{% endblock %} {% block content %}
<div class="row">
    <div class="col-12">
        <table>
            <thead>
                <th>First name</th>
                <th>Last name</th>
                <th>Email address</th>
            </thead>
            <tbody>
                <tr>
                    <td>Muffin</td>
                    <td>Man</td>
                    <td>muffins@drury.lane</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}{% endraw %}