<div class="row">
    <div class="col-12">
        <h2 id="prototype-validation">Prototype Validation</h2>
        <p>The Prototype kit has some built in functions to help you build form validation easily. However it is done slightly different as you might be used to. Where in the GOVUK kit, you may have written validation like below </p>
        <pre class="line-numbers language-markup"><code><xmp>{% include './govuk-validation.html' %}</xmp></code></pre>
        <p>In the DVLA Prototype kit, the same can be achieved by doing the following</p>
        <pre class="line-numbers language-markup"><code><xmp>{% include './dlva-validation.html' %}</xmp></code></pre>
    </div>
</div>