{% extends "layout-fluid.html" %}

{% block page_title %}
Icons and images – Styles | DVLA internal frontend toolkit
{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/styles">Styles</a></li>
        <li>Icons and images</li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <h1>Icons and images</h1>
        <ol class="numbered-list">
            <li><a href="#dvla-icon-font">DVLA icon font</a>
                <ul>
                    <li><a href="#dvla-icon-font-usage">Using the font</a></li>
                </ul>
            </li>
        </ol>
        <h2>DVLA icon font <a href="#dvla-icon-font" id="dvla-icon-font"></a></h2>
        <div class="example-demo">
            {% include './includes/icons.html' %}
        </div>
        <h3>Using the font <a href="#dvla-icon-font-usage" id="dvla-icon-font-usage"></a></h3>
        <p>DVLA icons are provided as the font 'dvla-icons'. All icons are accessible through the use of classes or unicode values. Classes are used by combining the <code>icon</code> class along with the corresponding class for that icon. For example:</p>
        <div class="example-demo">
            {% include './includes/icon-usage.html' %}
        </div>
        <pre class="line-numbers language-markup"><code><xmp>{% include './includes/icon-usage.html' %}</xmp></code></pre>
        <p>To access the font directly with unicode, use <code>font-family: 'dvla-icons';</code> or <code>font-family: $icon-font;</code> and set the corresponding <code>content: '';</code> value in the <code>:before</code> or <code>:after</code> of your element.</p>
        <pre class="line-numbers language-markup"><code><xmp>{% include './includes/icon-usage-unicode.css' %}</xmp></code></pre>
    </div>
</div>
{% endblock %}

{% import "includes/macros/top-nav.html" as top_nav %}
{% block tabs_top %}
{{ top_nav.set('Styles') }}
{% endblock %}

{% import "includes/macros/left-nav.html" as left_nav %}
{% block tabs_left %}
{{ left_nav.set('Styles', 'Icons and images') }}
{% endblock %}

{% block header_application_title %}
<a href="/">frontend toolkit</a>
{% endblock %}