<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <p class="grid-example"></p>
        </div>
        <div class="col-6">
            <p class="grid-example"></p>
        </div>
        <div class="col-4">
            <p class="grid-example"></p>
        </div>
        <div class="col-4">
            <p class="grid-example"></p>
        </div>
        <div class="col-4">
            <p class="grid-example"></p>
        </div>
        <div class="col-3">
            <p class="grid-example"></p>
        </div>
        <div class="col-3">
            <p class="grid-example"></p>
        </div>
        <div class="col-3">
            <p class="grid-example"></p>
        </div>
        <div class="col-3">
            <p class="grid-example"></p>
        </div>
        <div class="col-4">
            <p class="grid-example"></p>
        </div>
        <div class="col-8">
            <p class="grid-example"></p>
        </div>
        <div class="col-8">
            <p class="grid-example"></p>
        </div>
        <div class="col-4">
            <p class="grid-example"></p>
        </div>
    </div>
</div>