{% extends "layout-fluid.html" %}

{% block page_title %} Errors and Validation – Patterns | DVLA internal frontend toolkit {% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/patterns">Patterns</a></li>
        <li>Errors and validation</li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <h1>Errors and validation</h1>
        <ol class="numbered-list">
            <li>
                <a href="#form-validation">Form validation</a>
                <ul>
                    <li><a href="#text-input">Text</a></li>
                    <li><a href="#radio-input">Radio</a></li>
                    <li><a href="#checkbox-input">Checkbox</a></li>
                </ul>
            </li>
            <li>
                <a href="#alerts">Alerts &amp; summaries</a>
                <ul>
                    <li><a href="#error-summary">Error summary</a></li>
                    <li><a href="#alert-success">Success alert</a></li>
                    <li><a href="#alert-info">Info alert</a></li>
                    <li><a href="#alert-warning">Warning alert</a></li>
                </ul>
            </li>
        </ol>
        <h2>Form validation <a href="#form-validation" id="form-validation"></a></h2>
        <p>To active the error styling on a form-group, add the
            <code>.error</code> class to the surrounding element. The specific error should be placed within a
            <code>.label-error</code> class.</p>
            <h3>Text <a href="#text-input" id="text-input"></a></h3>
            <div class="example-demo">
                {% include './includes/input/text-error.html' %}
            </div>
            <pre class="line-numbers language-markup"><code><xmp>{% include './includes/input/text-error.html' %}</xmp></code></pre>
            <h3>Radio <a href="#radio-input" id="radio-input"></a></h3>
            <div class="example-demo">
                {% include './includes/input/radio-error.html' %}
            </div>
            <pre class="line-numbers language-markup"><code><xmp>{% include './includes/input/radio-error.html' %}</xmp></code></pre>
            <h3>Checkbox <a href="#checkbox-input" id="checkbox-input"></a></h3>
            <div class="example-demo">
                {% include './includes/input/checkbox-error.html' %}
            </div>
            <pre class="line-numbers language-markup"><code><xmp>{% include './includes/input/checkbox-error.html' %}</xmp></code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Alerts &amp; summaries <a href="#alerts" id="alerts"></a></h2>
            <h3>Error summary <a href="#error-summary" id="error-summary"></a></h3>
            <div class="example-demo">
                {% include './includes/error-summary.html' %}
            </div>
            <pre class="line-numbers language-markup"><code><xmp>{% include './includes/error-summary.html' %}</xmp></code></pre>
            <h3>Success alert <a href="#success-alert" id="success-alert"></a></h3>
            <div class="example-demo">
                {% include './includes/success-alert.html' %}
            </div>
            <pre class="line-numbers language-markup"><code><xmp>{% include './includes/success-alert.html' %}</xmp></code></pre>
            <h3>Information alert <a href="#information-alert" id="information-alert"></a></h3>
            <div class="example-demo">
                {% include './includes/info-alert.html' %}
            </div>
            <pre class="line-numbers language-markup"><code><xmp>{% include './includes/info-alert.html' %}</xmp></code></pre>
            <h3>Warning alert <a href="#warning-alert" id="warning-alert"></a></h3>
            <div class="example-demo">
                {% include './includes/warning-alert.html' %}
            </div>
            <pre class="line-numbers language-markup"><code><xmp>{% include './includes/warning-alert.html' %}</xmp></code></pre>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <h2>Prototype validation <a href="#prototype-validation" id="prototype-validation"></a></h2>
        </div>
    </div> -->
    
    {% endblock %}
    
    {% import "includes/macros/top-nav.html" as top_nav %}
    {% block tabs_top %}
    {{ top_nav.set('Patterns') }}
    {% endblock %}
    
    {% import "includes/macros/left-nav.html" as left_nav %}
    {% block tabs_left %}
    {{ left_nav.set('Patterns', 'Errors and validation') }}
    {% endblock %}
    
    {% block header_application_title %}
    <a href="/">frontend toolkit</a>
    {% endblock %}