{% extends "layouts/nunjucks/layout-fluid-tabs-left.html" %} {% block page_title %} Prototype kit {% endblock %} 
{% block tabs_left %}
<ul>
    <li class="active"><a href="/examples/prototype/getting-started/">1. Getting started</a></li>
    <li><a href="/examples/prototype/layouts/">2. Layouts</a></li>
    <li><a href="/examples/prototype/grids/">3. Grids</a></li>
</ul>
 {% endblock %}
 {% block head %}
 <link rel="stylesheet" href="/public/stylesheets/dvla-internal-elements-styles.css" /> 
 {% endblock %}
 {% block content %}
<div class="container">
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">DVLA internal elements</a></li>
            <li>Prototype kit</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Getting started</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            There are currently two ways you can interact with the prototype kit. The first option is to create your prototype using
            node, and the second option is to use Ruby on Rails.
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul>
                <li><a href="/examples/prototype/getting-started-node">Getting started with Node</a></li>
                <li><a href="/examples/prototype/getting-started-ruby">Getting started with Ruby</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}