{% extends "layout-fluid-tabs.html" %}

{% block page_title %} Data {% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/styles">Styles</a></li>
        <li>Components</li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <h1>Components</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ol class="numbered-list">
            <li><a href="#aside">Aside</a></li>
            <li><a href="#list">List component</a></li>
            <li><a href="#table">Table</a></li>
            <li><a href="#tacho">TACHOnet queue</a></li>
            <li><a href="#tabs">Tabs</a></li>
            <li><a href="#subtabs">Subtabs</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Aside</h2>
        <div class="example-demo">
            {% include './includes/components/aside.html' %}
        </div>
        <pre><code class="language-markup"><xmp>{% include './includes/components/aside.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>List component</h2>
        <div class="example-demo">
            {% include './includes/components/list.html' %}
        </div>
        <pre><code class="language-markup"><xmp>{% include './includes/components/list.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Table component</h2>
        <div class="example-demo">
            {% include './includes/components/table.html' %}
        </div>
        <pre><code class="language-markup"><xmp>{% include './includes/components/table.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>TACHOnet queue</h2>
        <div class="example-demo">
            {% include './includes/components/tacho.html' %}
        </div>
        <pre><code class="language-markup"><xmp>{% include './includes/components/tacho.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Tabs</h2>
        <div class="example-demo">
            {% include './includes/components/tabs.html' %}
        </div>
        <pre><code class="language-markup"><xmp>{% include './includes/components/tabs.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Subtabs</h2>
        <div class="example-demo">
            {% include './includes/components/subtabs.html' %}
        </div>
        <pre><code class="language-markup"><xmp>{% include './includes/components/subtabs.html' %}</xmp></code></pre>
    </div>
</div>
{% endblock %}

{% block tabs_top %}
<ul>
    <li><a href="/">About</a></li>
    <li class="active"><a href="/styles">Styles</a></li>
    <li><a href="/components">Components</a></li>
    <li><a href="/patterns">Patterns</a></li>
    <li><a href="/prototype">Prototype</a></li>
</ul>
{% endblock %}

{% block tabs_left %}
<ul>
    <li><a href="/styles/layout">Layout</a></li>
    <li><a href="/styles/typography">Typography</a></li>
    <li><a href="/styles/colour">Colour</a></li>
    <li><a href="/styles/icons-and-images">Icons and images</a></li>
    <li><a href="/styles/data">Data</a></li>
    <li><a href="/styles/buttons">Buttons</a></li>
    <li><a href="/styles/forms">Form elements</a></li>
    <li><a href="/styles/errors-and-validation">Errors and validation</a></li>
    <li><a href="/styles/navigation">Navigation</a></li>
    <li class="active"><a href="/styles/components">Components</a></li>
</ul>
{% endblock %}

{% set show_header_application_title = true %}
{% block header_application_title %}
<a href="/styles">Styles</a>
{% endblock %}