{% extends "layout-fluid-tabs.html" %}

{% block page_title %} Styleguide | DVLA internal frontend toolkit {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Styles</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-large">This guide shows how to make your service look consistent with the rest of DVLA.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4><a href="/styles/layouts">Layout</a></h4>
            <p>Grid unit proportions, gutters and spacing.</p>
        </div>
        <div class="col-4">
            <h4><a href="/styles/typography">Typography</a></h4>
            <p>Headings, body text, links, lists, inset text, hidden text.</p>
        </div>
        <div class="col-4">
            <h4><a href="/styles/colour">Colour</a></h4>
            <p>Colour contrast, Sass variables, colour palettes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4><a href="/styles/icons-and-images">Icons and images</a></h4>
            <p>Icons and image ratios.</p>
        </div>
        <div class="col-4">
            <h4><a href="/styles/data">Data</a></h4>
            <p>Data in a table, numeric tabular data, data visualisation.</p>
        </div>
        <div class="col-4">
            <h4><a href="/styles/buttons">Buttons</a></h4>
            <p>Button text, button alignment, creating buttons.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4><a href="/styles/forms">Form elements</a></h4>
            <p>Form fields, labels, focus states, radio buttons, checkboxes.</p>
        </div>
        <div class="col-4">
            <h4><a href="/styles/validation">Errors and validation</a></h4>
            <p>Summary boxes, highlighting errors in forms.</p>
        </div>
        <div class="col-4">
            <h4><a href="/styles/navigation">Navigation</a></h4>
            <p>Breadcrumbs, navigation bars.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4><a href="/styles/components">Components</a></h4>
            <p>Rich elements responsible for displaying specific types for data</p>
        </div>
        <div class="col-4">
            <h4><a href="/styles/prototype/getting-started">Prototype kit</a></h4>
            <p>How to work with the DVLA internal prototype kit</p>
        </div>
    </div>
{% endblock %}

{% block tabs_top %}
<ul>
    <li><a href="/">About</a></li>
    <li class="active"><a href="/styles">Styles</a></li>
    <li><a href="/components">Components</a></li>
    <li><a href="/patterns">Patterns</a></li>
    <li><a href="/prototype">Prototype</a></li>
</ul>
{% endblock %}

{% block tabs_left %}
<ul>
    <li><a href="/styles/layout">Layout</a></li>
    <li><a href="/styles/typography">Typography</a></li>
    <li><a href="/styles/colour">Colour</a></li>
    <li><a href="/styles/icons-and-images">Icons and images</a></li>
    <li><a href="/styles/data">Data</a></li>
    <li><a href="/styles/buttons">Buttons</a></li>
    <li><a href="/styles/forms">Form elements</a></li>
    <li><a href="/styles/errors-and-validation">Errors and validation</a></li>
    <li><a href="/styles/navigation">Navigation</a></li>
    <li><a href="/styles/components">Components</a></li>
</ul>
{% endblock %}

{% set show_header_application_title = true %}
{% block header_application_title %}
<a href="/styles">Styles</a>
{% endblock %}