{% extends "layout-fluid-tabs.html" %}

{% block page_title %} Styleguide | DVLA internal frontend toolkit {% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Styles</h1>
        <p class="text-large">Keeping the look and feel of DVLA internal services consistent.</p>
    </div>
</div>

{% endblock %}

{% block tabs_top %}
<ul>
    <li><a href="/">About</a></li>
    <li class="active"><a href="/styles">Styles</a></li>
    <li><a href="/components">Components</a></li>
    <li><a href="/patterns">Patterns</a></li>
    <li><a href="/prototype">Prototype</a></li>
</ul>
{% endblock %}

{% block tabs_left %}
<ul>
    <li><a href="/styles/layout">Layout</a></li>
    <li><a href="/styles/typography">Typography</a></li>
    <li><a href="/styles/colour">Colour</a></li>
    <li><a href="/styles/icons-and-images">Icons and images</a></li>
</ul>
{% endblock %}

{% set show_header_application_title = true %}
{% block header_application_title %}
<a href="/styles">Styles</a>
{% endblock %}