{% extends "layout-fluid.html" %}

{% block page_title %} Patterns | DVLA internal frontend toolkit {% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Patterns</h1>
        <p class="text-large">Combining components to create common design patterns.</p>
    </div>
</div>
{% endblock %}

{% import "includes/macros/top-nav.html" as top_nav %}
{% block tabs_top %}
{{ top_nav.set('Patterns') }}
{% endblock %}

{% import "includes/macros/left-nav.html" as left_nav %}
{% block tabs_left %}
{{ left_nav.set('Patterns') }}
{% endblock %}

{% block header_application_title %}
<a href="/">frontend toolkit</a>
{% endblock %}