{% extends "layout-fluid-tabs.html" %}

{% block page_title %}
Typography
{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/styles">Styles</a></li>
        <li>Typography</li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <h1>Typography</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ol class="list-numbered">
            <li><a href="#headings">Headings</a></li>
            <li><a href="#paragraphs">Paragraphs</a></li>
            <li><a href="#links">Links</a></li>
            <li><a href="#lists">Lists</a></li>
            <li><a href="#inset">Insets</a></li>
            <li><a href="#important">Important</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Headings</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="example-demo">
            {% include './includes/headings.html' %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="headings" class="line-numbers language-markup"><code><xmp>{% include './includes/headings.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Paragraphs</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="example-demo">
            {% include './includes/paragraphs.html' %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="paragraphs" class="line-numbers language-markup"><code><xmp>{% include './includes/paragraphs.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Links</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="example-demo">
            {% include './includes/links.html' %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="links" class="line-numbers language-markup"><code><xmp>{% include './includes/links.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Lists</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="example-demo">
            {% include "./includes/lists.html" %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="lists" class="line-numbers language-markup"><code><xmp>{% include "./includes/lists.html"  %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Insets</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="example-demo">
            {% include "./includes/inset.html" %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="inset" class="line-numbers language-markup"><code><xmp>{% include "./includes/inset.html"  %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Important</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="example-demo">
            {% include "./includes/important.html" %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre id="important" class="line-numbers language-markup"><code><xmp>{% include "./includes/important.html"  %}</xmp></code></pre>
    </div>
</div>
{% endblock %}

{% block tabs_top %}
<ul>
    <li><a href="/">About</a></li>
    <li class="active"><a href="/styles">Styles</a></li>
    <li><a href="/components">Components</a></li>
    <li><a href="/patterns">Patterns</a></li>
    <li><a href="/prototype">Prototype</a></li>
</ul>
{% endblock %}

{% block tabs_left %}
<ul>
    <li><a href="/styles/layout">Layout</a></li>
    <li class="active"><a href="/styles/typography">Typography</a></li>
    <li><a href="/styles/colour">Colour</a></li>
    <li><a href="/styles/icons-and-images">Icons and images</a></li>
    <li><a href="/styles/data">Data</a></li>
    <li><a href="/styles/buttons">Buttons</a></li>
    <li><a href="/styles/forms">Form elements</a></li>
    <li><a href="/styles/errors-and-validation">Errors and validation</a></li>
    <li><a href="/styles/navigation">Navigation</a></li>
    <li><a href="/styles/components">Components</a></li>
</ul>
{% endblock %}

{% set show_header_application_title = true %}
{% block header_application_title %}
<a href="/styles">Styles</a>
{% endblock %}