<div class="row">
    <div class="col-4">
        <div class="filter">
            <form class="form">
                <div class="filter-header">
                    <h2 class="filter-title">Filter by:</h2>
                </div>   
                <div class="filter-group">
                    <fieldset>
                        <legend>Price</legend>
                        <label for="checkbox-1">                         
                            <input type="checkbox" id="checkbox-1" class="filter-checkbox" value="under40" name="price">
                            Under £40,000
                        </label>
                        
                        <label for="checkbox-2">
                            <input type="checkbox" id="checkbox-2" class="filter-checkbox" value="over40" name="price">
                            Over £40,000
                        </label>
                    </fieldset>
                </div>
                
                <div class="filter-group">
                    <fieldset>
                        <legend>Model</legend>
                        <label for="models-checkbox-1">
                            <input type="checkbox" id="models-checkbox-1" class="filter-checkbox" value="golf-gti" name="model">
                            Golf GTI
                        </label>
                        
                        <label for="models-checkbox-2">
                            <input type="checkbox" id="models-checkbox-2" class="filter-checkbox" value="scirocco" name="model">
                            Scirocco
                        </label>
                        
                        <label for="models-checkbox-3">
                            <input type="checkbox" id="models-checkbox-3" class="filter-checkbox" value="transporter" name="model">
                            Transporter
                        </label>
                        
                        <label for="models-checkbox-4">
                            <input type="checkbox" id="models-checkbox-4" class="filter-checkbox" value="beetle" name="model">
                            Beetle
                        </label>
                    </fieldset>    
                </div>

                <div class="filter-footer">
                    <button class="btn btn-tertiary">Apply Filters</button>
                    <button class="btn btn-link">Clear all filters</a>
                </div>
            </form>		
        </div> 
    </div>
    <div class="col-8">
    </div>
</div>