{% extends "layout-fluid.html" %}

{% block page_title %} 
Forms – Components | DVLA internal frontend toolkit
{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/components">Components</a></li>
        <li>Forms</li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <h1>Forms</h1>
        <ol class="numbered-list">
            <li><a href="#form-control">Form control</a>
                <ul>
                    <li><a href="#form-control-sizes">Sizes</a></li>
                </ul>
            </li>
            <li><a href="#optional">Optional</a></li>
            <li><a href="#input">Input</a>
                <ul>
                    <li><a href="#input-text">Text</a></li>
                    <li><a href="#input-button-addon">Button addon</a></li>
                    <li><a href="#input-label-addon">Label addon</a></li>
                    <li><a href="#input-datalist">Datalist</a></li>
                    <li><a href="#input-radio">Radio</a></li>
                    <li><a href="#input-checkbox">Checkbox</a></li>
                    <li><a href="#input-toggle">Toggle</a></li>
                    <li><a href="#input-toggle">Upload</a></li>
                </ul>
            </li>
            <li><a href="#select">Select</a></li>
            <li><a href="#textarea">Textarea</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Form control <a href="#form-control" id="form-control"></a></h2>
        <p>Form controls inherit the majority of their styling through the <code>.form-control</code> class. By default, form controls are 100% width of their parent. If you require a smaller form control, use the <code>.form-control</code> class alongside the other form control ratio classes, e.g. <code>.form-control-1-2</code>.</p>
        <div class="example-demo">{% include './includes/form-control/index.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/form-control/index.html' %}</xmp></code></pre>
        <h3>Sizes <a href="#form-control-sizes" id="form-control-sizes"></a></h3>
        <div class="example-demo">{% include './includes/form-control/sizes.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/form-control/sizes.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Optional <a href="#optional" id="optional"></a></h2>
        <p>For optional form fields.</p>
        <div class="example-demo">{% include './includes/optional.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/optional.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Input <a href="#input" id="input"></a></h2>
        <h3>Text <a href="#input-text" id="input-text"></a></h3>
        <div class="example-demo">{% include './includes/input/text.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/text.html' %}</xmp></code></pre>
        <h3>Button addon <a href="#input-button-addon" id="input-button-addon"></a></h3>
        <p>Buttons can be appended or prepended to inputs. To size an input with a button, add a ratio class such as <code>.input-group-1-2</code>.</p>
        <div class="example-demo">{% include './includes/input/button-addon.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/button-addon.html' %}</xmp></code></pre>
        <h3>Label addon <a href="#input-label-addon" id="input-label-addon"></a></h3>
        <p>Labels can also be appended or prepended to inputs. To size an input with a label, add a ratio class such as <code>.input-group-1-2</code>.</p>
        <div class="example-demo">{% include './includes/input/label-addon.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/label-addon.html' %}</xmp></code></pre>
        <h3>Datalist <a href="#input-datalist" id="input-datalist"></a></h3>
        <p>Much like a <code>select</code>, a datalist input can be used to provide the user with a list of options. A datalist also gives the added functionality of accepting freetext.</p>
        <p><i>Note: the <code>&lt;select&gt;</code> tag is not required within a datalist. It is used here for backward compatibility with older browsers.</i></p>
        <div class="example-demo">{% include './includes/input/datalist.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/datalist.html' %}</xmp></code></pre>
        <h3>Radio <a href="#input-radio" id="input-radio"></a></h3>
        <div class="example-demo">{% include './includes/input/radio.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/radio.html' %}</xmp></code></pre>
        <p>It is also possible to add a progressive option to the last option in the list.</p>
        <div class="example-demo">{% include './includes/input/radio-progressive.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/radio-progressive.html' %}</xmp></code></pre>
        <h3>Checkbox <a href="#input-checkbox" id="input-checkbox"></a></h3>
        <div class="example-demo">{% include './includes/input/checkbox.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/checkbox.html' %}</xmp></code></pre>
        <h3>Toggle <a href="#input-toggle" id="input-toggle"></a></h3>
        <p>Toggle switches can be used as a substitute for chekboxes. They don‘t offer any additional functionality, but they may suit some interaction metaphors better. For example, turning something on and off.</p>
        <div class="example-demo">{% include './includes/input/toggle.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/toggle.html' %}</xmp></code></pre>
        <h3>File upload <a href="#input-upload" id="input-upload"></a></h3>
        <div class="example-demo">{% include './includes/input/upload.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/upload.html' %}</xmp></code></pre>
    </div>
</div>
<div id="select" class="row">
    <div class="col-12">
        <h2>Select <a href="#select" id="select"></a></h2>
        <div class="example-demo">{% include './includes/select.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/select.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Textarea <a href="#textarea" id="textarea"></a></h2>
        <div class="example-demo">{% include './includes/textarea.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/textarea.html' %}</xmp></code></pre>
    </div>
</div>
{% endblock %}

{% import "includes/macros/top-nav.html" as top_nav %}
{% block tabs_top %}
{{ top_nav.set('Components') }}
{% endblock %}

{% import "includes/macros/left-nav.html" as left_nav %}
{% block tabs_left %}
{{ left_nav.set('Components', 'Forms') }}
{% endblock %}

{% block header_application_title %}
<a href="/">frontend toolkit</a>
{% endblock %}