{% extends "layout-fluid-tabs.html" %}

{% block page_title %} Forms {% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <ol>
        <li><a href="/components">Components</a></li>
        <li>Forms</li>
    </ol>
</div>
<div class="row">
    <div class="col-12">
        <h1>Forms</h1>
        <ol class="numbered-list">
            <li><a href="#form-control">Form control</a></li>
            <li><a href="#input">Input</a>
                <ul>
                    <li><a href="#input-text">Text</a></li>
                    <li><a href="#input-button-addon">Button addon</a></li>
                    <li><a href="#input-datalist">Datalist</a></li>
                    <li><a href="#input-radio">Radio</a></li>
                    <li><a href="#input-checkbox">Checkbox</a></li>
                    <li><a href="#input-toggle">Toggle</a></li>
                    <li><a href="#input-toggle">Upload</a></li>
                </ul>
            </li>
            <li><a href="#select">Select</a></li>
            <li><a href="#textarea">Textarea</a></li>
        </ol>
    </div>
</div>
<div id="form-control" class="row">
    <div class="col-12">
        <h2>Form control</h2>
        <p>Form controls inherit the majority of their styling through the <code>.form-control</code> class. By default, form controls are 100% width of their parent. If you require a smaller form control, use the <code>.form-control</code> class alongside the other form control ratio classes, e.g. <code>.form-control-1-2</code>.</p>
        <div class="example-demo">{% include './includes/form-control.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/form-control.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2 id="input">Input</h2>
        <h3 id="input-text">Text</h3>
        <div class="example-demo">{% include './includes/input/text.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/text.html' %}</xmp></code></pre>
        <h3 id="input-button-addon">Button addon</h3>
        <p>Buttons can be appended or prepended to inputs. To size an input with a button, add a ratio class such as <code>.input-group-1-2</code>.</p>
        <div class="example-demo">{% include './includes/input/button-addon.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/button-addon.html' %}</xmp></code></pre>
        <h3 id="input-datalist">Datalist</h3>
        <p>Much like a <code>select</code>, a datalist input can be used to provide the user with a list of options. A datalist also gives the added functionality of accepting freetext.</p>
        <p><i>Note: the <code>&lt;select&gt;</code> tag is not required within a datalist. It is used here for backward compatibility with older browsers.</i></p>
        <div class="example-demo">{% include './includes/input/datalist.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/datalist.html' %}</xmp></code></pre>
        <h3 id="input-radio">Radio</h3>
        <div class="example-demo">{% include './includes/input/radio.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/radio.html' %}</xmp></code></pre>
        <p>It is also possible to add a progressive option to the last option in the list.</p>
        <div class="example-demo">{% include './includes/input/radio-progressive.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/radio-progressive.html' %}</xmp></code></pre>
        <h3 id="input-checkbox">Checkbox</h3>
        <div class="example-demo">{% include './includes/input/checkbox.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/checkbox.html' %}</xmp></code></pre>
        <h3 id="input-toggle">Toggle</h3>
        <p>Toggle switches can be used as a substitute for chekboxes. They don‘t offer any additional functionality, but they may suit some interaction metaphors better. For example, turning something on and off.</p>
        <div class="example-demo">{% include './includes/input/toggle.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/toggle.html' %}</xmp></code></pre>
        <h3 id="input-upload">File upload</h3>
        <div class="example-demo">{% include './includes/input/upload.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/input/upload.html' %}</xmp></code></pre>
    </div>
</div>
<div id="select" class="row">
    <div class="col-12">
        <h2>Select</h2>
        <div class="example-demo">{% include './includes/select.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/select.html' %}</xmp></code></pre>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Textarea</h2>
        <div class="example-demo">{% include './includes/textarea.html' %}</div>
        <pre><code class="language-markup"><xmp>{% include './includes/textarea.html' %}</xmp></code></pre>
    </div>
</div>
{% endblock %}

{% block tabs_top %}
<ul>
    <li><a href="/">About</a></li>
    <li><a href="/styles">Styles</a></li>
    <li class="active"><a href="/components">Components</a></li>
    <li><a href="/patterns">Patterns</a></li>
    <li><a href="/prototype">Prototype</a></li>
</ul>
{% endblock %}

{% block tabs_left %}
<ul>
    <li><a href="/components/buttons">Buttons</a></li>
    <li class="active"><a href="/components/forms">Forms</a></li>
    <li><a href="/components/errors-and-validation">Errors and validation</a></li>
    <li><a href="/components/navigation">Navigation</a></li>
    <li><a href="/components/components">Components</a></li>
    <li><a href="/components/data-visualisation">Data visualisation</a></li>
</ul>
{% endblock %}

{% set show_header_application_title = true %}
{% block header_application_title %}
<a href="/">frontend toolkit</a>
{% endblock %}