{% extends "../layout.html" %} {% block page_title %} Buttons {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="/" class="btn-back">Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Buttons</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ol class="list-numbered">
                <li><a href="#headings">Headings</a></li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}