{% extends "layout.html" %} {% block page_title %} Data {% endblock %} {% block content %}
<div class="container">
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">DVLA internal elements</a></li>
            <li>Components</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Components</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ol class="numbered-list">
                <li><a href="#aside">Aside</a></li>
                <li><a href="#list">List component</a></li>
                <li><a href="#table">Table</a></li>
                <li><a href="#tacho">TACHOnet queue</a></li>
                <li><a href="#tabs">Tabs</a></li>
                <li><a href="#subtabs">Subtabs</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Aside</h2>
            <div class="example-demo">
                {% include './includes/components/aside.html' %}
            </div>
            <pre><code class="language-markup"><xmp>{% include './includes/components/aside.html' %}</xmp></code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>List component</h2>
            <div class="example-demo">
                {% include './includes/components/list.html' %}
            </div>
            <pre><code class="language-markup"><xmp>{% include './includes/components/list.html' %}</xmp></code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Table component</h2>
            <div class="example-demo">
                {% include './includes/components/table.html' %}
            </div>
            <pre><code class="language-markup"><xmp>{% include './includes/components/table.html' %}</xmp></code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>TACHOnet queue</h2>
            <div class="example-demo">
                {% include './includes/components/tacho.html' %}
            </div>
            <pre><code class="language-markup"><xmp>{% include './includes/components/tacho.html' %}</xmp></code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Tabs</h2>
            <div class="example-demo">
                {% include './includes/components/tabs.html' %}
            </div>
            <pre><code class="language-markup"><xmp>{% include './includes/components/tabs.html' %}</xmp></code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Subtabs</h2>
            <div class="example-demo">
                {% include './includes/components/subtabs.html' %}
            </div>
            <pre><code class="language-markup"><xmp>{% include './includes/components/subtabs.html' %}</xmp></code></pre>
        </div>
    </div>
</div>
{% endblock %}