{% extends "../layout.html" %}

{% block page_title %}
  Typography
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="example">Typography</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ol class="list-numbered">
                <li><a href="#">Headings</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="example">Headings</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="example-demo">
                <h1>h1. What would you like to do?</h1>
                <h2>h2. What would you like to do?</h2>
                <h3>h3. What would you like to do?</h3>
                <h4>h4. What would you like to do?</h4>
                <h5>h5. What would you like to do?</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
                <pre>
                    <code class="language-html">
                        <h1>h1. What would you like to do?</h1>
                        <h2>h2. What would you like to do?</h2>
                        <h3>h3. What would you like to do?</h3>
                        <h4>h4. What would you like to do?</h4>
                        <h5>h5. What would you like to do?</h5>
                    </code>
                </pre>
        </div>
    </div>
</div>
{% endblock %}