{% extends "layout.html" %}

{% block page_title %}
  Errors and Validation
{% endblock %}

{% block content %}
<div class="container">
    <div class="breadcrumbs">
        <ol>
            <li><a href="/">DVLA internal elements</a></li> 
            <li>Errors and Validation</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Errors and Validation</h1>
            <h2>Success alert</h2>
            <div class="example-demo">
                {% include './includes/errors-and-validation/success-alert.html' %}
            </div>
            <pre class="line-numbers language-markup"><code><xmp>{% include './includes/errors-and-validation/success-alert.html' %}</xmp></code></pre>
            <h2>Information alert</h2>
            <div class="example-demo">
                {% include './includes/errors-and-validation/info-alert.html' %}
            </div>
            <pre class="line-numbers language-markup"><code><xmp>{% include './includes/errors-and-validation/info-alert.html' %}</xmp></code></pre>
            <h2>Warning alert</h2>
            <div class="example-demo">
                {% include './includes/errors-and-validation/warning-alert.html' %}
            </div>
            <pre class="line-numbers language-markup"><code><xmp>{% include './includes/errors-and-validation/warning-alert.html' %}</xmp></code></pre>
        </div>
    </div>
</div>
{% endblock %}