<html>

<head>
  <title>DVLA Internal Elements</title>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/dvla-internal-elements-styles.css" />
</head>

<body>
  <header role="banner" id="global-header" class="">
    <div id="header-wrapper">
      <div id="header-float-left">
        <div id="header-logo">
          <a href="/" title="Home" id="logo" class="content">
            <div id="coat-of-arms" alt=""></div>
            <div class="name">DVLA</div>
          </a>
        </div>
      </div>
      <div id="header-float-right">
        <div id="user-account">
          <div id="logout">
            <a href="#">Log out</a>
          </div>
          <div id="user-account-email">
            admin@account.com
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="wrapper" class="direction-ltr">
    <main role="main" id="content" lang="en">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="example">Typography</h2>
            <h3 class="example">Headings</h3>
            <h1>What would you like to do?</h1>
            <h2>What would you like to do?</h2>
            <h3>What would you like to do?</h3>
            <h4>What would you like to do?</h4>
            <h5>What would you like to do?</h5>
            <h3 class="example">Paragraphs</h3>
            <h4 class="example">Small</h4>
            <p class="text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget mi egestas lectus posuere facilisis at ac ipsum. Vivamus egestas augue interdum pulvinar congue. Nullam ut vehicula arcu. Sed eget sodales odio, eget commodo tortor. Vivamus quis ante elementum.</p>
            <h4 class="example">Large</h4>
            <p class="text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget mi egestas lectus posuere facilisis at ac ipsum. Vivamus egestas augue interdum pulvinar congue. Nullam ut vehicula arcu. Sed eget sodales odio, eget commodo tortor. Vivamus quis ante elementum.</p>
            <h3 class="example">Lists</h3>
            <h4 class="example">Bulleted</h4>
            <ul class="list-bulleted">
              <li>here is an example bulleted list</li>
              <li>here is an example bulleted list</li>
              <li>here is an example bulleted list</li>
              <li>here is an example bulleted list</li>
            </ul>
            <h4 class="example">Numbered</h4>
            <ol class="list-numbered">
              <li>here is an example bulleted list</li>
              <li>here is an example bulleted list</li>
              <li>here is an example bulleted list</li>
              <li>here is an example bulleted list</li>
            </ol>
            
            
            
            

            <h2 class="example">Grid system</h2>
            <h3 class="example">Fluid</h3>
          </div>

          <div class="col-12">
            
          </div>
        </div>
      </div>

      <div class="container-fluid">

        <div class="row">

          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <p class="grid-example"></p>
          </div>
          <div class="col-3">
            <p class="grid-example"></p>
          </div>
          <div class="col-3">
            <p class="grid-example"></p>
          </div>
          <div class="col-3">
            <p class="grid-example"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <p class="grid-example"></p>
          </div>
          <div class="col-4">
            <p class="grid-example"></p>
          </div>
          <div class="col-4">
            <p class="grid-example"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <p class="grid-example"></p>
          </div>
          <div class="col-6">
            <p class="grid-example"></p>
          </div>
        </div>

      </div>

      <div class="container">

        <div class="row">
          <div class="col-12">
            <h3 class="example">Fixed (960px)</h3>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
          <div class="col-1">
            <p class="grid-example"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
          <div class="col-2">
            <p class="grid-example"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <p class="grid-example"></p>
          </div>
          <div class="col-3">
            <p class="grid-example"></p>
          </div>
          <div class="col-3">
            <p class="grid-example"></p>
          </div>
          <div class="col-3">
            <p class="grid-example"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <p class="grid-example"></p>
          </div>
          <div class="col-4">
            <p class="grid-example"></p>
          </div>
          <div class="col-4">
            <p class="grid-example"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <p class="grid-example"></p>
          </div>
          <div class="col-6">
            <p class="grid-example"></p>
          </div>
        </div>

      </div>
    </main>
  </div>
</body>

</html>