<html>

<head>
    <title>DVLA Internal Elements</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/dvla-internal-elements-styles.css" />
</head>

<body>
    <header role="banner" id="global-header" class="">
        <div id="header-wrapper">
            <div id="header-float-left">
                <div id="header-logo">
                    <a href="/" title="Home" id="logo" class="content">
                        <div id="coat-of-arms" alt=""></div>
                        <div class="name">DVLA</div>
                    </a>
                </div>
            </div>
            <div id="header-float-right">
                <div id="user-account">
                    <div id="logout">
                        <a href="#">Log out</a>
                    </div>
                    <div id="user-account-email">
                        admin@account.com
                    </div>
                </div>
            </div>
        </div>
        <div id="global-header-bar"></div>
    </header>

    <div id="wrapper" class="direction-ltr">
        <main role="main" id="content" lang="en">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div>
                            <div class="list">
                                <div class="list-title-row">
                                    <div class="list-title">
                                        Details
                                    </div>
                                </div>
                                <div class="list-row">
                                    <div class="list-property">
                                        Tacho number
                                    </div>
                                    <div class="list-data">
                                        B17160903129000
                                    </div>
                                </div>
                                <div class="list-row">
                                    <div class="list-property">
                                        Change status to
                                    </div>
                                    <div class="list-data">
                                        Lost
                                    </div>
                                </div>
                                <div class="list-row">
                                    <div class="list-property">
                                        Response
                                    </div>
                                    <div class="list-data">
                                        <select class="form-control form-control-1-2">
                                            <option>Not found</option>
                                            <option>Not updated</option>
                                            <option>Updated</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="list-row">
                                    <div class="list-property">
                                        Request source
                                    </div>
                                    <div class="list-data">
                                        TACHOnet
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="textarea-title">Leave a note (optional)</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-primary btn-spacer-right">Complete</button>
                        <button class="btn btn-secondary">Park case</button>
                    </div>
                </div>
            </div>
    </div>
    </main>
    </div>
</body>

</html>